<html>
    <head><title>About PAMMN</title>
        <link rel= "stylesheet" type="text/css" href="About.css">
    </head>

    <body>
        <h1>So. Who is PAMMN?</h1>
        <p>PAMMN is a team of five students with the bright idea to create a modern style of 3D storage and an easier way for the user to be able to find what they need and quickly.
            This group of students consists of Aden Bise, Noah Price, Madison Hall, and Mackenzie Shonk.
        </p>
        <h2>Why was Vending 3D created?</h2>
        <p>See Attached hyperlink!</p>
        <p><a href="MachineOh.html">All things Vending 3D</a></p>
        <p><strong>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</strong></p>
        <table class="table2">
            <thead><tr>
                <th>Link to Homepage</th></tr>
            </thead>
            <tfoot><tr>
                <td>Thank You!!</td>
            </tr></tfoot>
            <tbody>
                <tr><td><a href="Frontpage.html">HomePage</a>
                </td></tr>
            </tbody>
        </table>
        <br><br><br><br><br>
        <img class="displayed" src="/Logo.PNG"/>
    </body>
</html>
