<DOCTYPE html>
  <html>
    <head>
      <title>VendingHub</title>
      <link rel="stylesheet" type="text/css" href="stylefp.css" />
    </head>
    <body>
      <div>
        <h1><u>Welcome to Vending 3D!!</u></h1>
        <img class="displayed" src="/Logo.PNG" />
        <h3>
          The hub of all your 3D adventures! Look below for all your needs.
        </h3>
        <p>
          This is the master-home for all things Vending 3D. Below you will find
          all the links you will need to properly work and enjoy the machine to
          your max potential! We have included a help page to help troubleshoot
          the machine and other helping that you will need. Next is the google
          sheet which will show you the % left on each 3D printing material and
          which cells are open and ready to store. After that is a short About
          us to show off the creators of Vending 3D by PAMMN then you have a
          page all about the machine. Hope you enjoy your stay and keep on
          printing!!
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Links you might need ~</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>Thank You!!</td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td><a href="PAMMNBamThankYouMaam.html">About PAMMN</a></td>
            </tr>
            <tr>
              <td><a href="HelpPage.html">Help Page</a></td>
            </tr>
            <tr>
              <td><a href="MachineOh.html">All things Vending 3D</a></td>
            </tr>
            <tr>
              <td>Google Sheet</td>
            </tr>
          </tbody>
        </table>
        <body>
          <p>Status of machine here:</p>
          <p>Offline</p>
        </body>
      </div>
    </body>
  </html></DOCTYPE
>
