<html>
    <head>
        <title>Help Center</title>
        <link rel= "stylesheet" type="text/css" href="Helpme.css">
    </head>

    <body>
        <div>
            <h1><u>Welcome to the Help Page</u></h1>
            <h3>Look below for anything that you are having trouble with.</h3>
            <p>Included down below is any troubleshooting issues that you may come across when working with PAMMN's 3D vending machine. We have outlined these issues you
                may come across and the solutions you can take to fix them.
            </p>
            <p><em>Insert Troubleshooting here (Perhaps in chart form?)</em></p>
            <table class="table5">
                <thead><tr>
                    <th>Link to Homepage</th></tr>
                </thead>
                <tfoot><tr>
                    <td>Thank You!!</td>
                </tr></tfoot>
                <tbody>
                    <tr><td><a href="Frontpage.html">HomePage</a>
                    </td></tr>
                </tbody>
            </table>
            <br><br><br><br><br><br><br><br><br>
            <img class="displayed" src="/Logo.PNG"/>
        </div>
    </body>
</html>