<html>
    <head>
        <title>The Machine</title>
        <link rel= "stylesheet" type="text/css" href="stylemachine.css">
    </head>

    <body>
        <h2>What is Vending 3D?</h2>
        <p>Vending 3D is a product made for storing filament in an environment that is safe and secure for it. It will have temperature and humidity gauges to make 
            sure that the filament is safe in the environment. If the temperature and humidity go to unsafe levels the machine will alert you of this problem. The filament 
            will be in cartridges when it slides into the cells and all the information on the filament will be sent directly to a spreadsheet. The filament horderwould see 
            this spreadsheet to be able to assess how much and what type of filament that they have. This will also help them see what they might need for future prints. </p>
        <h3>What is our mission?</h3>
        <p>Storing 3D printing material has become an issue in S160. The material is currently stored on a rack in an open environment which allows moisture to get to the material. 
            This isn't ideal since it makes the material unuseable. By having this material be left out, it makes it extremely hard to have material for the following school year. 
            This means that every year Mr. Weitlauf has to spend a lot of money buying new material while the old material is being wasted. Finding a way to store the material 
            without allowing moisture in is imperative to save money and make it easier for Mr. Weitlauf. It is the goal of PAMMN to provide a better and more stable way of storing
            3D printing material and showing information about the material in storage.
        </p>
        <h3>Who is PAMMN?</h3>
        <p><a href= "PAMMNBamThankYouMaam.html">About PAMMN</a></p>
        <p>Attached above is a hyperlink to lead you to the page that is all the wonderful creators of Vending 3D....PAMMN</p>
        <table class="table4">
            <thead><tr>
                <th>Link to Homepage</th></tr>
            </thead>
            <tfoot><tr>
                <td>Thank You!!</td>
            </tr></tfoot>
            <tbody>
                <tr><td><a href="Frontpage.html">HomePage</a>
                </td></tr>
            </tbody>
        </table>
        <br><br><br><br>
        <img class="displayed" src="/Logo.PNG"/>
    </body>
</html>